* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 22, 22);
  height: 100%;
  background-repeat: no-repeat no-repeat no-repeat;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-size: cover;
}
body p{
  font-family:Arial, sans-serif;
  font-weight: bold;
}